.container-fluid::before {
  margin: 0;
  height: 0;
}

/* Header */

header {
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  margin-left: 20px;
}

.search-container {
  padding-left: 30px;
  padding-right: 30px;
}

.search-input {
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  background-color: #505050;
  color: #DDD;
  border: none;
}

.search-submit {
  width: 50px;
  height: 50px;
  line-height: 52px;
  font-size: 32px;
  text-align: center;
  color: white;
  float: right;
  margin-top: -65px;
  position: relative;
}

/* Footer */

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color: #191B1F;
}

footer .row :first-child {
  line-height: 62px;
  font-size: 30px;
}

footer .row :last-child {
  line-height: 42px;
  font-size: 22px;
}

/* Section */

#secao-principal {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

/* Home */

#home {
  background-color: #191B1F;
  color: white;
  margin: 0;
  padding: 0;
}
